* {
    border: none;
    font-family: "MiSans", "FiraCode Nerd Font", Retina;
    font-size: 16px;
    color: #dcdcdc;
}

/* top-bar */
.top-bar {
    border-radius: 20px;
    background: rgba(32, 36, 42, 0.8);
    background: linear-gradient(
            270deg,
            rgba(0, 0, 0, 0.8),
            rgba(16, 37, 41, 0.722),
            rgba(7, 25, 39, 0.8),
            rgba(22, 14, 42, 0.821),
            rgba(24, 36, 24, 0.703)
        )
        center / cover;
    background-size: 800% 800%;
    animation: AnimationName 30s ease infinite;
}
.top-bar * {
    border-radius: 20px;
    margin-top: 2px;
    margin-bottom: 2px;
}
.top-bar #tray,
#clock,
#backlight,
#pulseaudio,
#network,
#battery {
    margin-left: 8px;
    margin-right: 8px;
    background-color: rgba(34, 46, 69, 0.8);
    padding: 0 12px 0 12px;
}
.top-bar #tray {
    margin-left: 12px;
}

.top-bar #clock {
    background-color: transparent;
}
.top-bar #network {
    background: linear-gradient(270deg, #0e3d30, #547214, #1a648b, #4a1e34) center / cover;
    background-size: 800% 800%;
    animation: AnimationName 30s ease infinite;
}

.top-bar #battery {
    margin-right: 12px;
}
@keyframes AnimationName {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
/* 左侧信息栏的统一样式 */
.cpu,
.disk,
.memory {
    background-color: transparent;
}
.cpu #cpu,
#custom-icon,
.disk #disk,
#custom-icon,
.memory #memory,
#custom-icon {
    color: rgb(198, 198, 198);
    background-color: rgba(15, 17, 18, 0.5);
    border-color: rgba(47, 47, 47, 0.5);
    border-style: solid;
}
/* 图标左半边 */
.cpu #custom-icon,
.disk #custom-icon,
.memory #custom-icon {
    border-radius: 20px 0 0 20px;
    border-width: 4px 0 4px 4px;
}

/* 右半边 */
.cpu #cpu,
.disk #disk,
.memory #memory {
    border-radius: 0 20px 20px 0;
    border-width: 4px 4px 4px 0;
}
/* cpu-bar */
.cpu #custom-icon {
    padding-right: 16px;
    padding-left: 12px;
    font-size: 40px;
}
.cpu #cpu {
    padding-right: 12px;
    font-weight: bold;
    font-size: 24px;
}

/* disk-bar */
.disk #custom-icon {
    padding-right: 16px;
    padding-left: 12px;
    font-size: 40px;
}
.disk #disk {
    padding-right: 12px;
    font-weight: bold;
    font-size: 24px;
}
/* memory-bar */
.memory #custom-icon {
    padding-right: 16px;
    padding-left: 12px;
    font-size: 40px;
}
.memory #memory {
    padding-right: 12px;
    font-weight: bold;
    font-size: 24px;
}

/* time */
.time {
    background-color: transparent;
}
.time #clock.h {
    padding: 0 20px 0 20px;
    border-radius: 20px 20px 0 0;
    color: #ebebeb;
    /* text-shadow: black 5px 3px 12px; */
    background-color: rgba(79, 79, 79, 0.6);
}
.time #clock.m {
    padding: 0 20px 0 20px;
    border-radius: 0 0 20px 20px;
    color: #ebebeb;
    /* text-shadow: black 5px 3px 12px; */
    background-color: rgba(79, 79, 79, 0.6);
}
.time #clock.h {
    font-size: 120px;
}
.time #clock.m {
    font-size: 120px;
    margin-top: -30px;
}
/* mpd-bar */
.mpd-info,
.mpd-control {
    background: transparent;
}
.mpd-info #mpd,
.mpd-control #custom-prev,
#custom-status,
#custom-next {
    color: #dcdcdc;
    background-color: rgba(39, 39, 39, 0.5);
}
.mpd-info #mpd {
    border-radius: 20px 20px 0 0;
    padding-top: 8px;
    font-size: 18px;
}
.mpd-control #custom-prev {
    font-size: 50px;
    padding: 0 15px 0 20px;
    border-radius: 0 0 0 20px;
}
.mpd-control #custom-next {
    font-size: 50px;
    padding: 0 30px 0 10px;
    border-radius: 0 0 20px 0;
}
.mpd-control #custom-status {
    font-size: 60px;
    padding: 0 24px 0 17px;
}

/* botom-bar */
.bottom-bar {
    background-color: transparent;
}

.bottom-bar #taskbar {
    padding: 6px 20px 6px 20px;
    background-color: rgba(26, 26, 26, 0.8);
    border-radius: 20px;
}
.bottom-bar #taskbar button {
    border-radius: 10px;
    margin: 4px 2px 4px 2px;
}
.bottom-bar #taskbar button.active {
    background-color: rgba(48, 48, 48, 0.8);
}
